/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
html {
    background-color: #516cbd;
}
.menubar {
    background-color: cornflowerblue;
    font-family: sans-serif;
    max-width: 70ch;
    margin-top: 20px;
    margin: 20px;
    color: white;
    border: 2px solid cornflowerblue;
    border-radius: 8px;
    gap: 5px;
    padding: 8px;
    justify-content: space-between;
}
.content {
    background-color: cornflowerblue;
    font-family: sans-serif;
    max-width: 70ch;
    margin-top: 20px;
    margin: auto;
    color: white;
    border: 2px solid cornflowerblue;
    border-radius: 8px;
    gap: 5px;
    padding: 8px;
    justify-content: space-between;
}
a  {
    text-decoration: none;
    color:rgb(210, 232, 255);
}
a:hover  {
    text-decoration:underline;
    color:rgb(210, 232, 255);
}